.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  padding: 0px;
  font-size: 0.3em;
}

.App-intro {
  font-size: large;
}